*.ipr
*.iws
*.iml
*.ids
target
*.class
*/test/reports
*/test-output/*
*.log.*
*.log
*test-output/*
*.orig
*out/*
*/src/main/config/local*
*/src/main/groovy/local*
.project
.tmp_*
*Thumbs.db
*.sql~
q
.settings/*
*.idea
atlassian-ide-plugin.xml
*temp-war-dir*
*/plugin.xml
*.zip