<plugin name='gflyway2' version='0.2' grailsVersion='2.2 &gt; *'>
  <author>Denis Kuzmin</author>
  <authorEmail>vavilon.rus@gmail.com</authorEmail>
  <title>Grails Flyway 2 Plugin</title>
  <description>    Plugin flyway 2 for use in Grails
</description>
  <documentation>http://grails.org/plugin/gflyway2-plugin</documentation>
  <type>gflyway2GrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='com.googlecode.flyway' name='flyway-core' version='2.2.1' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>